<link href="read.css" rel="stylesheet" type="text/css">


<h2>Add Director</h2>
<div>
    <form method="post" action="/director/add">
        <input type="text" id="name" name="name" placeholder="Add Director">
        <p></p>
        <input class="textbox" type="text" id="title1" name="title1" placeholder="Add Title">
        <input class="textbox" type="text" id="year1" name="year1" placeholder="Add Year">
        <p></p>
        <input class="textbox" type="text" id="title2" name="title2" placeholder="Add Title">
        <input class="textbox" type="text" id="year2" name="year2" placeholder="Add Year">
        <p></p>
        <input class="textbox" type="text" id="title3" name="title3" placeholder="Add Title">
        <input class="textbox" type="text" id="year3" name="year3" placeholder="Add Year">

        <input type="submit" value="Submit">
    </form>
</div>

<div id="container" class="div1">

    <h3>Number of Directors:</h3>
    <h3><%= countDirs[0].value %></h3>

    <h2>Directors</h2>
    
    <ul>
        <% directors.forEach(function(director){ %>

            <h3>
                <%= director.value.name %>
            </h3>

            <ul class="columns">
          
                    <form method="post" action="director/<%= director.id %>">

                        <li>
                            <input type="hidden" value="<%= director.value.name %>" name="name">

                            <input type="hidden" value="<%= director.value.rev %>" name="rev">

                            <input class="textbox" type="text" id="update_title0" name="update_title0"
                                value="<%= director.value.movies[0].title %>">


                            <p> Released in: <input class="textbox" type="text" id="update_year0" name="update_year0"
                                    value="<%= director.value.movies[0].year %>">
                            </p>
                        </li>

                        <li>
                            <input type="hidden" value="<%= director.value.name %>" name="name">

                            <input type="hidden" value="<%= director.value.rev %>" name="rev">

                            <input class="textbox" type="text" id="update_title1" name="update_title1"
                                value="<%= director.value.movies[1].title %>">


                            <p> Released in: <input class="textbox" type="text" id="update_year1" name="update_year1"
                                    value="<%= director.value.movies[1].year %>">
                            </p>
                        </li>

                        <li>
                            <input type="hidden" value="<%= director.value.name %>" name="name">

                            <input type="hidden" value="<%= director.value.rev %>" name="rev">

                            <input class="textbox" type="text" id="update_title2" name="update_title2"
                                value="<%= director.value.movies[2].title %>">

                            <p> Released in: <input class="textbox" type="text" id="update_year2" name="update_year2"
                                    value="<%= director.value.movies[2].year %>">
                            </p>

                           <p></p>
                        </li>
                        
                        <input type="submit" value="Update Director">
                    </form>
                


                <form method="post" action="/director/delete/<%= director.key %>">
                    <input type="hidden" value="<%= director.value.rev %>" name="rev">
                    <input type="submit" value="Delete Director">
                </form>

            </ul>
        
        <% }); %>
    </ul>
</div>